:root{
--frame1:63;
--frame1-s:26;
--frame2:51 50 50 51;
--frame2-s:21;
--frame3:52 51 50 52;
--frame3-s:21 21 21 22;
--frame4:79 77 77 79;
--frame4-s:32;
--frame5:99;
--frame5-s:40;
--frame6:80;
--frame6-s:32;
--frame7:82;
--frame7-s:32;
--frame8:87;
--frame8-s:35;
--frame9:87;
--frame9-s:35;
--frame10:99 38 38 37;
--frame10-s:40 16 16;
--frame11:100 40 39 38;
--frame11-s:41 16 16;
--frame12:142;
--frame12-s:56;
--frame13:110 100 100 110;
--frame13-s:44;
--frame14:53;
--frame14-s:22;
--frame15:55;
--frame15-s:23;
--frame16:46;
--frame16-s:20;
--frame17:49;
--frame17-s:19;
--frame18:114;
--frame18-s:46;
--frame19:116;
--frame19-s:46;
--frame20:138;
--frame20-s:56;
--frame21:140;
--frame21-s:56;
--frame22:43 42 41 43;
--frame22-s:18 17 17 18;
--frame23:37 37 36 36;
--frame23-s:15;
--frame24:106;
--frame24-s:43;
--frame25:114;
--frame25-s:46;
--frame26:35 37 37 35;
--frame26-s:15;
--frame27:53 54;
--frame27-s:22;
--frame28:95;
--frame28-s:38;
--frame29:100;
--frame29-s:42;
--frame30:90;
--frame30-s:34;
--frame31:78;
--frame31-s:32;
--frame32:164 114;
--frame32-s:67 47;
--frame33:166 117;
--frame33-s:68 48;
--frame34:60 68 68 60;
--frame34-s:25 28 28 25;
--frame35:56 63;
--frame35-s:23 25;
--frame36:50 58;
--frame36-s:21 25;
--frame37:72 56;
--frame37-s:29 24;
--frame38:74 58;
--frame38-s:29 24;
--frame39:132;
--frame39-s:54;
--frame40:132;
--frame40-s:54;
--frame41:45 40 48;
--frame41-s:20 18;
--frame42:52 46;
--frame42-s:22 18;
--frame43:69 63;
--frame43-s:28 25;
--frame44:140 106;
--frame44-s:62 42;
--frame45:146 114;
--frame45-s:62 45;
--frame46:55 62;
--frame46-s:23 25;
--frame47:67 73;
--frame47-s:28 30;
--frame48:120;
--frame48-s:48;
--frame49:134;
--frame49-s:54;
--frame50:136;
--frame50-s:56;
--frame51:98 40;
--frame51-s:40 20;
--frame52:94 41;
--frame52-s:40 20;
--frame53:244 256 266;
--frame53-s:106;
--frame54:24 73 26;
--frame54-s:11 31;
--frame55:116;
--frame55-s:48;
--frame56:111;
--frame56-s:45 33;
--frame57:106;
--frame57-s:45;
--frame58:136;
--frame58-s:53;
--frame59:68 50;
--frame59-s:27 20;
--frame60:232 98 140;
--frame60-s:90 38 37;
--frame61:122;
--frame61-s:50;
--frame62:230;
--frame62-s:90;
--frame63:230;
--frame63-s:90;
--frame64:117;
--frame64-s:46;
--frame65:132;
--frame65-s:46;
--frame66:134;
--frame66-s:56;
--frame67:192 154;
--frame67-s:77 60;
--frame68:194 154;
--frame68-s:77 60;
--frame69:194 154;
--frame69-s:30 32 31 33;
--frame70:150;
--frame70-s:58;
--frame71:112 112 108 110;
--frame71-s:45 44 43 45;
--frame72:150;
--frame72-s:58;
--frame73:110 114 111 108;
--frame73-s:45 46 45 44;
--frame74:110 110 110 109;
--frame74-s:45 44 44 44;
--frame75:110 111 109 109;
--frame75-s:44 44 43 44;
--frame76:100 98 99 101;
--frame76-s:41 40 40 41;
--frame77:87 88;
--frame77-s:36 35 35 36;
--frame78:110 115 111 109;
--frame78-s:44 46 45 44;
--frame79:108 108 108 109;
--frame79-s:44 43 43 44;
--frame80:96 98 97 96;
--frame80-s:39 40 39 39;
--frame81:174;
--frame81-s:70;
--frame82:100 106 106 99;
--frame82-s:41 43 43 41;
--frame83:82 82 82 81;
--frame83-s:33;
--frame84:133 122 118 129;
--frame84-s:54 49 48 52;
--frame85:101 99 99 101;
--frame85-s:41 40 40 41;
--frame86:96 88 90 99;
--frame86-s:39 36 36 40;
--frame87:119 117 118 119;
--frame87-s:48 47 47 49;
--frame88:112 109 114 116;
--frame88-s:46 44 46 48;
--frame89:109 108 108 109;
--frame89-s:45 44 44 45;
--frame90:110 112 111 109;
--frame90-s:45;
--frame91:94;
--frame91-s:39 38 38 39;
--frame92:95 92 92 92;
--frame92-s:38 36 36 37;
--frame93:84 80 80 83;
--frame93-s:35 32 32 34;
--frame94:100 102 102 100;
--frame94-s:40;
--frame95:123 121 121 123;
--frame95-s:50;
--frame96:112 115 114 113;
--frame96-s:46;
--frame97:84 88;
--frame97-s:34 36;
--frame98:110;
--frame98-s:44;
--frame99:124;
--frame99-s:50;
--frame100:100;
--frame100-s:46;
--frame101:118 132 128 118;
--frame101-s:48 52 52 48;
--frame102:105 103 101 104;
--frame102-s:43 42 41 42;
--frame103:113 107 107 113;
--frame103-s:46 43 43 46;
--frame104:169 129;
--frame104-s:78 58;
--frame105:116;
--frame105-s:46;
--frame106:79 82 78;
--frame106-s:35 36 34;
--frame107:50 51 51 50;
--frame107-s:23;
--frame108:56 56 57 57;
--frame108-s:26 25 25 26;
--frame109:35 31 35 30;
--frame109-s:16 14 15 14;
--frame110:26 28 28 27;
--frame110-s:14;
--frame111:52 68 51 69;
--frame111-s:22 27 21 29;
--frame112:29 27 29 29;
--frame112-s:14 12 13 13;
--frame113:29;
--frame113-s:20;
--frame114:29;
--frame114-s:20;
--frame115:112 108 112 109;
--frame115-s:45 44 45 45;
--frame116:111 108 111 109;
--frame116-s:45 44 45 45;
--frame117:55 61;
--frame117-s:22 24 21 24;
--frame118:106 98 105 99;
--frame118-s:43 40;
--frame119:105 107;
--frame119-s:42 43 42 44;
--frame120:64 63 65 65;
--frame120-s:37 36 37 38;
--frame121:32 32 31 33;
--frame121-s:22 22 21 23;
--frame122:38 43;
--frame122-s:16 18;
--frame123:32 34;
--frame123-s:17 17 16 18;
--frame124:85 85 81 85;
--frame124-s:40 39 38 40;
--frame125:70 71 72 70;
--frame125-s:48 48 49 48;
--frame126:76 76 75 75;
--frame126-s:36 35 35 35;
--frame127:64 64 63 63;
--frame127-s:30 30 29 30;
--frame128:64 65 65;
--frame128-s:37 37 37 38;
--frame129:64 65 65 64;
--frame129-s:37;
--frame130:59 58 58 59;
--frame130-s:35 34 34 35;
--frame131:45 45 46 44;
--frame131-s:29 29 29 28;
--frame132:44;
--frame132-s:28;
--frame133:52 52 53;
--frame133-s:32;
--frame134:54;
--frame134-s:33;
--frame135:52 52 53;
--frame135-s:32;
--frame136:34 34 33 35;
--frame136-s:23 23 22 24;
--frame137:41 42 42;
--frame137-s:27 27 27 28;
--frame138:36 35 35 36;
--frame138-s:24 23 23 24;
--frame139:59 58 58 59;
--frame139-s:35 34 34 35;
--frame140:43 44 44 43;
--frame140-s:28;
--frame141:44 43 42 44;
--frame141-s:28 28 27 29;
--frame142:133 148 140;
--frame142-s:60 66;
--frame143:155 204 150;
--frame143-s:67 87;
--frame144:135;
--frame144-s:54;
--frame145:135;
--frame145-s:54;
--frame146:166;
--frame146-s:66;
--frame147:152;
--frame147-s:60;
--frame148:152;
--frame148-s:61;
--frame149:146;
--frame149-s:59;
--frame150:144;
--frame150-s:58;
--frame151:160;
--frame151-s:64;
--frame152:162;
--frame152-s:64;
--frame153:146;
--frame153-s:60;
--frame154:150;
--frame154-s:60;
--frame155:150;
--frame155-s:60;
--frame156:112 130;
--frame156-s:50 56;
--frame157:118 140;
--frame157-s:51 59;
--frame158:114 138;
--frame158-s:51;
--frame159:116 138;
--frame159-s:51;
--frame160:134 138;
--frame160-s:54;
--frame161:174;
--frame161-s:70;
--frame162:147;
--frame162-s:59;
--frame163:155;
--frame163-s:62;
--frame164:155;
--frame164-s:64;
--frame165:150;
--frame165-s:60;
--frame166:150;
--frame166-s:60;
--frame167:144;
--frame167-s:58;
--frame168:144;
--frame168-s:58;
--frame169:150 112;
--frame169-s:61 45;
--frame170:150 114;
--frame170-s:60 45;
--frame171:118;
--frame171-s:60 43;
--frame172:126;
--frame172-s:60 43;
--frame173:150;
--frame173-s:60;
--frame174:154;
--frame174-s:62;
--frame175:160;
--frame175-s:64;
--frame176:116 140;
--frame176-s:44 58;
--frame177:116 140;
--frame177-s:44 58;
--frame178:118;
--frame178-s:40 56;
--frame179:120;
--frame179-s:40 56;
--frame180:112;
--frame180-s:43;
--frame181:110;
--frame181-s:44;
--frame182:170 126;
--frame182-s:65 48;
--frame183:170 126;
--frame183-s:66 49;
--frame184:126;
--frame184-s:51;
--frame185:128;
--frame185-s:51;
--frame186:126;
--frame186-s:50;
--frame187:134;
--frame187-s:54;
--frame188:132;
--frame188-s:53;
--frame189:144;
--frame189-s:58;
--frame190:140;
--frame190-s:56;
--frame191:144;
--frame191-s:58;
--frame192:144;
--frame192-s:57;
--frame193:144;
--frame193-s:58;
--frame194:90 77 82 90;
--frame194-s:40 33 36 42;
--frame195:106 94 94 106;
--frame195-s:45 37 39 41;
--frame196:118;
--frame196-s:47;
--frame197:108;
--frame197-s:43;
--frame198:82;
--frame198-s:50;
--frame199:125;
--frame199-s:54;
--frame200:118;
--frame200-s:44;
--frame201:0;/*fill*/
--frame201-s:0;/*fill*/
--frame202:132 122 144 154;
--frame202-s:52 50 57 60;
--frame203:105 118;
--frame203-s:42 47;
--frame204:105;
--frame204-s:41;


--frm1:63;
--frm1-s:25;/*? = Fox52 svg if less 30 ?*/
--frm2:52 51 51 52;
--frm2-s:21 20 20 21;/*? 30*/
--frm3:79 77 77 79;
--frm3-s:32 31 31 32;
--frm4:80;
--frm4-s:34;
--frm5:87;
--frm5-s:35;
--frm6:133;
--frm6-s:54;
--frm7:166;
--frm7-s:67;
--frm8:150;
--frm8-s:60;
--frm9:144 147 142 148;
--frm9-s:59 57 58 59;
--frm10:99 52 38 52;
--frm10-s:41 22 16 22;/*?*/
--frm11:146 142 142 146;
--frm11-s:60 58 58 60;
--frm12:144;
--frm12-s:58;
--frm13:100 99 99 100;
--frm13-s:41 40 40 41;
--frm14:160;
--frm14-s:64;
--frm15:130;/*160?*/
--frm15-s:66;
--frm16:53;
--frm16-s:22;/*?*/
--frm17:152;
--frm17-s:61;
--frm18:46;
--frm18-s:18;/*?*/
--frm18x:57;
--frm19:265 81 40;
--frm19-s:114 32 16 33;
--frm20:122;
--frm20-s:50;
--frm21:75 74 70;
--frm21-s:31 27 30 28;/*?*/
--frm22:118 140;
--frm22-s:46 54;
--frm23:164 114;
--frm23-s:66 46;
--frm24:50 57;
--frm24-s:22 26;/*?*/
--frm25:118;
--frm25-s:47;
--frm26:61 69 69 61;
--frm26-s:24 27 27 24;/*?*/
--frm27:192 150;
--frm27-s:76 60;
--frm28:116;
--frm28-s:48;
--frm29:126;
--frm29-s:50;
--frm30:134;
--frm30-s:54;
--frm31:174;
--frm31-s:70;
--frm32:146;
--frm32-s:59;
--frm33:156;
--frm33-s:62;
--frm34:150;
--frm34-s:60;
--frm35:124;
--frm35-s:50;
--frm36:146;
--frm36-s:58;
--frm37:146;
--frm37-s:58;
--frm38:50;
--frm38-s:20;/*?*/
--frm39:148 112;
--frm39-s:59 44;
--frm40:118;
--frm40-s:51;
--frm41:150;
--frm41-s:60;
--frm42:161;
--frm42-s:64;
--frm43:130;
--frm43-s:54;
--frm44:132;/*130?*/
--frm44-s:56;
--frm45:120 144 119 146;
--frm45-s:53 56 50 59;
--frm46:130;
--frm46-s:54;
--frm47:190;
--frm47-s:76;
--frm48:112;
--frm48-s:44;
--frm49:168 124;
--frm49-s:66 48;
--frm50:222;
--frm50-s:86;
--frm51:57 64;
--frm51-s:23 26;/*?*/
--frm52:127;
--frm52-s:52;
--frm53:72 58;
--frm53-s:29 23;/*?*/
--frm54:130;
--frm54-s:50;
--frm55:92 40;
--frm55-s:38 16;/*?*/
--frm56:120 126;
--frm56-s:48 50;
--frm57:36 35;
--frm57-s:16;/*?*/
--frm58:126;
--frm58-s:50;
--frm59:160 90;
--frm59-s:20 18;/*?*/
--frm60:138 130;
--frm60-s:56 44;
--frm61:50;
--frm61-s:20;/*?*/
--frm62:104;
--frm62-s:42;
--frm63:35 37 36 35;
--frm63-s:15;/*?*/
--frm64:96;
--frm64-s:38;
--frm65:130;
--frm65-s:52;
--frm66:133;
--frm66-s:54;
--frm67:142;
--frm67-s:58;
--frm68:264;
--frm68-s:110;
--frm69:134;
--frm69-s:54;
--frm70:196;
--frm70-s:85;
--frm71:90 77 82 91;
--frm71-s:36 37 33 46;
--frm72:26 74 27;/*?*/
--frm72-s:11 30;/*?*/
--frm73:56 62;
--frm73-s:23 25 22 26;/*?*/
--frm74:90;
--frm74-s:36;
--frm75:80;
--frm75-s:32;
--frm76:46;
--frm76-s:18;/*?*/
--frm77:90 180;
--frm77-s:34 67;
--frm78:118 82;
--frm78-s:45 32;
--frm79:95;
--frm79-s:41;
--frm80:141;
--frm80-s:55;
--frm81:103 118;
--frm81-s:42 47;
--frm82:66 47;
--frm82-s:26 20;/*?*/
--frm83:105;
--frm83-s:41;

}
#prefetch{position:absolute;left:-999rem;top:-999rem;width:10px;height:10px;overflow:hidden;background:url(frame1.png),url(frame1-s.png),url(frame2.png),url(frame2-s.png),url(frame3.png),url(frame3-s.png),url(frame4.png),url(frame4-s.png),url(frame5.png),url(frame5-s.png),url(frame6.png),url(frame6-s.png),url(frame7.png),url(frame7-s.png),url(frame8.png),url(frame8-s.png),url(frame9.png),url(frame9-s.png),url(frame10.png),url(frame10-s.png),url(frame11.png),url(frame11-s.png),url(frame12.png),url(frame12-s.png),url(frame13.png),url(frame13-s.png),url(frame14.png),url(frame14-s.png),url(frame15.png),url(frame15-s.png),url(frame16.png),url(frame16-s.png),url(frame17.png),url(frame17-s.png),url(frame18.png),url(frame18-s.png),url(frame19.png),url(frame19-s.png),url(frame20.png),url(frame20-s.png),url(frame21.png),url(frame21-s.png),url(frame22.png),url(frame22-s.png),url(frame23.png),url(frame23-s.png),url(frame24.png),url(frame24-s.png),url(frame25.png),url(frame25-s.png),url(frame26.png),url(frame26-s.png),url(frame27.png),url(frame27-s.png),url(frame28.png),url(frame28-s.png),url(frame29.png),url(frame29-s.png),url(frame30.png),url(frame30-s.png),url(frame31.png),url(frame31-s.png),url(frame32.png),url(frame32-s.png),url(frame33.png),url(frame33-s.png),url(frame34.png),url(frame34-s.png),url(frame35.png),url(frame35-s.png),url(frame36.png),url(frame36-s.png),url(frame37.png),url(frame37-s.png),url(frame38.png),url(frame38-s.png),url(frame39.png),url(frame39-s.png),url(frame40.png),url(frame40-s.png),url(frame41.png),url(frame41-s.png),url(frame42.png),url(frame42-s.png),url(frame43.png),url(frame43-s.png),url(frame44.png),url(frame44-s.png),url(frame45.png),url(frame45-s.png),url(frame46.png),url(frame46-s.png),url(frame47.png),url(frame47-s.png),url(frame48.png),url(frame48-s.png),url(frame49.png),url(frame49-s.png),url(frame50.png),url(frame50-s.png),url(frame51.png),url(frame51-s.png),url(frame52.png),url(frame52-s.png),url(frame53.png),url(frame53-s.png),url(frame54.png),url(frame54-s.png),url(frame55.png),url(frame55-s.png),url(frame56.png),url(frame56-s.png),url(frame57.png),url(frame57-s.png),url(frame58.png),url(frame58-s.png),url(frame59.png),url(frame59-s.png),url(frame60.png),url(frame60-s.png),url(frame61.png),url(frame61-s.png),url(frame62.png),url(frame62-s.png),url(frame63.png),url(frame63-s.png),url(frame64.png),url(frame64-s.png),url(frame65.png),url(frame65-s.png),url(frame66.png),url(frame66-s.png),url(frame67.png),url(frame67-s.png),url(frame68.png),url(frame68-s.png),url(frame69.png),url(frame69-s.png),url(frame70.png),url(frame70-s.png),url(frame71.png),url(frame71-s.png),url(frame72.png),url(frame72-s.png),url(frame73.png),url(frame73-s.png),url(frame74.png),url(frame74-s.png),url(frame75.png),url(frame75-s.png),url(frame76.png),url(frame76-s.png),url(frame77.png),url(frame77-s.png),url(frame78.png),url(frame78-s.png),url(frame79.png),url(frame79-s.png),url(frame80.png),url(frame80-s.png),url(frame81.png),url(frame81-s.png),url(frame82.png),url(frame82-s.png),url(frame83.png),url(frame83-s.png),url(frame84.png),url(frame84-s.png),url(frame85.png),url(frame85-s.png),url(frame86.png),url(frame86-s.png),url(frame87.png),url(frame87-s.png),url(frame88.png),url(frame88-s.png),url(frame89.png),url(frame89-s.png),url(frame90.png),url(frame90-s.png),url(frame91.png),url(frame91-s.png),url(frame92.png),url(frame92-s.png),url(frame93.png),url(frame93-s.png),url(frame94.png),url(frame94-s.png),url(frame95.png),url(frame95-s.png),url(frame96.png),url(frame96-s.png),url(frame97.png),url(frame97-s.png),url(frame98.png),url(frame98-s.png),url(frame99.png),url(frame99-s.png),url(frame100.png),url(frame100-s.png),url(frame101.png),url(frame101-s.png),url(frame102.png),url(frame102-s.png),url(frame103.png),url(frame103-s.png),url(frame104.png),url(frame104-s.png),url(frame105.png),url(frame105-s.png),url(frame106.png),url(frame106-s.png),url(frame107.png),url(frame107-s.png),url(frame108.png),url(frame108-s.png),url(frame109.png),url(frame109-s.png),url(frame110.png),url(frame110-s.png),url(frame111.png),url(frame111-s.png),url(frame112.png),url(frame112-s.png),url(frame113.png),url(frame113-s.png),url(frame114.png),url(frame114-s.png),url(frame115.png),url(frame115-s.png),url(frame116.png),url(frame116-s.png),url(frame117.png),url(frame117-s.png),url(frame118.png),url(frame118-s.png),url(frame119.png),url(frame119-s.png),url(frame120.png),url(frame120-s.png),url(frame121.png),url(frame121-s.png),url(frame122.png),url(frame122-s.png),url(frame123.png),url(frame123-s.png),url(frame124.png),url(frame124-s.png),url(frame125.png),url(frame125-s.png),url(frame126.png),url(frame126-s.png),url(frame127.png),url(frame127-s.png),url(frame128.png),url(frame128-s.png),url(frame129.png),url(frame129-s.png),url(frame130.png),url(frame130-s.png),url(frame131.png),url(frame131-s.png),url(frame132.png),url(frame132-s.png),url(frame133.png),url(frame133-s.png),url(frame134.png),url(frame134-s.png),url(frame135.png),url(frame135-s.png),url(frame136.png),url(frame136-s.png),url(frame137.png),url(frame137-s.png),url(frame138.png),url(frame138-s.png),url(frame139.png),url(frame139-s.png),url(frame140.png),url(frame140-s.png),url(frame141.png),url(frame141-s.png),url(frame142.png),url(frame142-s.png),url(frame143.png),url(frame143-s.png),url(frame144.png),url(frame144-s.png),url(frame145.png),url(frame145-s.png),url(frame146.png),url(frame146-s.png),url(frame147.png),url(frame147-s.png),url(frame148.png),url(frame148-s.png),url(frame149.png),url(frame149-s.png),url(frame150.png),url(frame150-s.png),url(frame151.png),url(frame151-s.png),url(frame152.png),url(frame152-s.png),url(frame153.png),url(frame153-s.png),url(frame154.png),url(frame154-s.png),url(frame155.png),url(frame155-s.png),url(frame156.png),url(frame156-s.png),url(frame157.png),url(frame157-s.png),url(frame158.png),url(frame158-s.png),url(frame159.png),url(frame159-s.png),url(frame160.png),url(frame160-s.png),url(frame161.png),url(frame161-s.png),url(frame162.png),url(frame162-s.png),url(frame163.png),url(frame163-s.png),url(frame164.png),url(frame164-s.png),url(frame165.png),url(frame165-s.png),url(frame166.png),url(frame166-s.png),url(frame167.png),url(frame167-s.png),url(frame168.png),url(frame168-s.png),url(frame169.png),url(frame169-s.png),url(frame170.png),url(frame170-s.png),url(frame171.png),url(frame171-s.png),url(frame172.png),url(frame172-s.png),url(frame173.png),url(frame173-s.png),url(frame174.png),url(frame174-s.png),url(frame175.png),url(frame175-s.png),url(frame176.png),url(frame176-s.png),url(frame177.png),url(frame177-s.png),url(frame178.png),url(frame178-s.png),url(frame179.png),url(frame179-s.png),url(frame180.png),url(frame180-s.png),url(frame181.png),url(frame181-s.png),url(frame182.png),url(frame182-s.png),url(frame183.png),url(frame183-s.png),url(frame184.png),url(frame184-s.png),url(frame185.png),url(frame185-s.png),url(frame186.png),url(frame186-s.png),url(frame187.png),url(frame187-s.png),url(frame188.png),url(frame188-s.png),url(frame189.png),url(frame189-s.png),url(frame190.png),url(frame190-s.png),url(frame191.png),url(frame191-s.png),url(frame192.png),url(frame192-s.png),url(frame193.png),url(frame193-s.png),url(frame194.png),url(frame194-s.png),url(frame195.png),url(frame195-s.png),url(frame196.png),url(frame196-s.png),url(frame197.png),url(frame197-s.png),url(frame198.png),url(frame198-s.png),url(frame199.png),url(frame199-s.png),url(frame200.png),url(frame200-s.png),url(frame201.png),url(frame201-s.png),url(frame202.png),url(frame202-s.png),url(frame203.png),url(frame203-s.png),url(frame204.png),url(frame204-s.png),

url(../textures/Rainform.jpg),
url(../textures/fractal.jpg)
}