* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  lighting-color: #ccc
}

body {
  /* background: url(http://users.atw.hu/nyejani/print/textures/marble.jpg); */
  /* padding: 1em */
}

svg {
  position: absolute;
  top: -999em
}

filter {
  color-interpolation-filters: sRGB
}

.tpl p {
  position: relative;
  /* font-family: cursive; */
  font-weight: bold;
  /* font-size: 8rem; */
  text-align: center;
  text-shadow: 0 0 .7px, 0 0 1.1px, 0 0 1.1px;
  filter:url(#in-and-out)
}
/* 
p:before,
p:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  content: attr(data-text)
} */

.tpl p:before {
  color: #036;
  text-shadow: -1px -1px 1px, 0 -1px 1px, 1px -1px 1px, 1px 0 1px, 1px 1px 1px, 0 1px 1px, -1px 1px 1px, -1px 0 1px
}

.tpl p:after {
  color: rgba(40, 80, 120, .9);
  filter:url(#lightA3)
}